.header {
	position: relative;
	width: 100%;
	z-index: 100;
	background-color: #ffffff;
}
.header-content {
	padding: 10px 0 30px;
	position: relative;
}
.header-content .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.header-logo {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: calc(50% - 15px);
	max-width: 470px;
}
.header-logo .logo {
	width: 100%;
	max-width: 170px;
}
.header-logo .logo img {
	display: block;
	max-width: 100%;
}
.header-logo .slogan {
	width: calc(100% - 220px);
	text-align: left;
	color: #8f8f8f;
	font-size: 18px;
}
.header-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(50% - 15px);
	max-width: 470px;
}
.header-info .phone {
	max-width: calc(100% - 200px);
	font-size: 18px;
	color: #8f8f8f;
	text-align: left;
}
.header-info .phone a {
	font-size: 24px;
	font-weight: 800;
	color: #212020;
}
.header-info .b-btn {
	max-width: 170px;
	padding: 12px 10px;
	font-weight: 700;
}
.header-nav {
	position: relative;
	width: 100%;
	background-color: #ffffff;
}
.header.scroll .header-nav {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #dedede;
}
.header-nav .wrap {
	padding: 14px 0;
	border-top: 1px solid #dedede;
}
.header.scroll .header-nav .wrap {
	border-top: 0;
}
.header-nav .nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.header-nav .nav > li {
	margin-right: 50px;
	font-size: 18px;
}
.header-nav .nav > li:last-child {
	margin-right: 0;
}
.header-nav .nav > li a:hover {
	opacity: 0.7;
}
.mobile-menu .nav > li {
	margin-bottom: 10px;
	font-size: 18px;
}
.mobile-menu .nav > li:last-child {
	margin-bottom: 0;
}
.mobile-menu .nav > li a:hover {
	opacity: 0.7;
}
.mobile-menu .phone {
	display: block;
	margin-top: 30px;
	font-size: 18px;
	color: #8f8f8f;
}
.mobile-menu .phone a {
	color: #191d20;
	font-size: 24px;
	font-weight: 800;
}
.mobile-menu .b-btn {
	padding: 12px 10px;
	font-weight: 700;
	margin: 20px auto 0;
	max-width: 170px;
}

.footer {
	position: relative;
	background-color: #191d20;
	color: #ffffff;
	padding: 30px 0 50px;
}
.footer-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 15px;
	border-bottom: 1px solid #cdcdcd;
}
.footer-top .footer-main {
	width: calc(100% - 250px);
	max-width: 870px;
}
.footer-logo {
	width: 100%;
	max-width: 170px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-top .footer-main .nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.footer-top .footer-main .nav > li {
	font-size: 18px;
}
.footer-top .footer-main .nav > li a:hover {
	opacity: 0.7;
}
.footer-top .phone {
	width: 100%;
	max-width: 220px;
	text-align: right;
	font-size: 16px;
	color: #a6a6a6;
}
.footer-top .phone a {
	font-size: 24px;
	color: #ffffff;
	font-weight: 800;
}
.footer-top .phone p {
	display: block;
	margin-top: 30px;
}
.footer-about {
	margin-top: 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.footer-about .info {
	width: 100%;
	max-width: 170px;
}
.footer-about .info > li {
	text-align: left;
	font-size: 14px;
	color: #a6a6a6;
}
.footer-about .cookie {
	width: calc(100% - 450px);
	max-width: 670px;
	text-align: left;
	color: #a6a6a6;
	font-size: 14px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
}
.footer-about .cookie a:hover {
	color: #ffffff;
}
.footer-about .cookie ul {
	width: 100%;
}
.footer-about .cookie .text {
	margin-top: 20px;
	width: 100%;
}
.footer-about .links {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	max-width: 220px;
}
.footer-about .links .social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap-reverse;
	width: 100%;
}
.footer-about .links .social > li {
	width: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.footer-about .links .social > li:first-child {
	margin-left: 0;
}
.footer-about .links .social > li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	-ms-filter: brightness(0.5);
	filter: brightness(0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-about .links .social > li a:hover img {
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
	-ms-filter: brightness(1);
	filter: brightness(1);
}
.footer-about .links .logo-dev {
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: #a6a6a6;
	margin-top: 10px;
}
.footer-about .links .logo-dev a:hover {
	color: #ffffff;
}

.b-section {
	position: relative;
	padding: 45px 0;
}
.b-section.first {
	padding-top: 90px;
}
.b-section.last {
	padding-bottom: 90px;
}
.b-section.left-align {
	text-align: left;
}
.b-section.dark {
	background-color: #191d20;
	color: #ffffff;
}
.b-section.grey {
	background-color: #f2f2f2;
}

.b-title {
	display: block;
	font-size: 45px;
	font-weight: 700;
}
.b-subtitle {
	display: block;
	font-size: 24px;
	margin-top: 30px;
}

.b-text {
	text-align: left;
	font-size: 16px;
	line-height: 1.2;
}
.b-title + .b-text,
.b-subtitle + .b-text {
	margin-top: 50px;
}
.b-text h2,
.b-text h3,
.b-text h4 {
	display: block;
	font-size: 24px;
	font-weight: 700;
}
.b-text img {
	display: block;
	max-width: 100%;
}

.b-btn {
	display: block;
	width: 100%;
	padding: 17px 10px;
	text-align: center;
	border-radius: 5px;
	background-color: #ffdc2d;
	color: #191d20;
	font-size: 18px;
	border: 0;
}
.b-btn:hover {
	background-color: #eecb1c;
}
.b-btn.grey-btn {
	background-color: #f0f0f0;
}
.b-btn.grey-btn:hover {
	background-color: #e0e0e0;
}
.b-btn.border-btn {
	padding: 16px 10px;
	border: 1px solid #191d20;
	background-color: transparent;
}
.b-btn.border-btn:hover {
	background-color: #191d20;
	color: #ffffff;
}

.b-form-title {
	display: block;
	font-size: 24px;
	margin-top: 50px;
}
.b-form-title + .b-form,
.b-title + .b-form {
	margin-top: 50px;
}
.b-form {
	position: relative;
	width: 100%;
	max-width: 370px;
	margin: 0 auto;
}
.b-input {
	position: relative;
	margin-bottom: 15px;
}
.b-input input, .b-input textarea {
	display: block;
	width: 100%;
	border: 1px solid #ffdc2d;
	border-radius: 5px;
	padding: 16px 20px;
	font-size: 18px;
	resize: none;
}
.b-form .flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-form .flex > * {
	width: calc(50% - 10px);
}
.b-form .flex + .policy-text {
	margin-top: 0;
}

.b-face {
	position: relative;
	background-color: #191d20;
	color: #ffffff;
	padding: 60px 0;
}
.b-face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-face .wrap .content {
	width: 68%;
	text-align: left;
}
.b-face .wrap .content .guarantee {
	display: inline-block;
	padding: 10px 25px 10px 60px;
	background-color: #626262;
	color: #ffffff;
	font-size: 14px;
	position: relative;
	border-radius: 5px;
	margin-bottom: 30px;
	text-align: left;
}
.b-face .wrap .content .guarantee img {
	display: block;
	max-width: 24px;
	max-height: 24px;
	position: absolute;
	left: 30px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-face .wrap .content .title {
	display: block;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
}
.b-face .wrap .content .text {
	margin-top: 40px;
	font-size: 22px;
	text-align: left;
}
.b-face .wrap .content .text ul > li {
	position: relative;
	padding-left: 40px;
}
.b-face .wrap .content .text ul > li:before {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ffdc2d;
	position: absolute;
	left: 0;
	top: 10px;
}
.b-face .wrap .content .b-form {
	max-width: 560px;
	margin-left: 0;
	margin-top: 50px;
}
.b-face .wrap .content .partner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	font-size: 22px;
	text-align: left;
	max-width: 650px;
}
.b-face .wrap .content .partner img {
	display: block;
	max-width: 46px;
	max-height: 46px;
}
.b-face .wrap .content .partner span {
	display: block;
	width: calc(100% - 60px);
}
.b-face .wrap .image {
	width: calc(32% - 10px);
}
.b-face .wrap .image img {
	display: block;
	max-width: calc(100% + 60px);
	margin: 0 auto;
}

.b-text-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-text-img.margin {
	margin-top: 50px;
}
.b-text-img.height-align {
	align-items: stretch;
}
.b-text-img .image {
	width: calc(100% - 500px);
}
.b-text-img.right-img .image {
	order: 1;
}
.b-text-img .image img {
	display: block;
	max-width: 100%;
}
.b-text-img .image iframe {
	display: block;
	width: 100% !important;
	height: 100% !important;
	position: relative;
}
.b-text-img .content {
	text-align: left;
	width: 100%;
	max-width: 430px;
}
.b-text-img .content.big {
	max-width: 470px;
}
.b-text-img .content .items .item {
	margin-top: 50px;
}
.b-text-img .content .items .item:first-child {
	margin-top: 0;
}
.b-text-img .content .title {
	display: block;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
}
.b-text-img .content .text {
	margin-top: 50px;
	font-size: 22px;
	line-height: 1.2;
	text-align: left;
}
.b-text-img .content .items .item .text {
	margin-top: 40px;
}
.b-text-img .content .text ul > li {
	position: relative;
	padding-left: 80px;
	margin-top: 30px;
}
.b-text-img .content .text ul > li:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #191d20;
	position: absolute;
	top: 12px;
	left: 0;
}
.b-text-img .content .text a {
	color: #003687;
	border-bottom: 1px solid #003687;
}

.b-advs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-advs > li {
	width: calc(100%/3 - 20px);
	margin-top: 50px;
	margin-right: 30px;
}
.b-advs > li:nth-child(3n) {
	margin-right: 0;
}
.b-advs > li .image {
	position: relative;
	height: 250px;
}
.b-advs > li .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-advs > li .text {
	font-size: 21px;
	margin-top: 30px;
}

.b-types {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-types > li {
	width: calc(20% - 24px);
	margin-top: 50px;
	margin-right: 30px;
}
.b-types > li:nth-child(5n) {
	margin-right: 0;
}
.b-types > li .image {
	position: relative;
	height: 210px;
}
.b-types > li .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-types > li .name {
	display: block;
	margin-top: 10px;
	font-size: 26px;
	font-weight: 700;
}

.b-cards {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 30px;
}
.b-cards .card {
	position: relative;
	width: calc(50% - 15px);
	margin-top: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 50px 170px 50px 40px;
	text-align: left;
}
.b-cards .card.big {
	width: 100%;
	padding: 50px 470px 50px 40px;
}
.b-cards .card img {
	display: block;
	max-width: 150px;
	max-height: 100%;
	position: absolute;
	right: 85px;
	top: 50%;
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
}
.b-cards .card.big img {
	max-width: 450px;
	right: 235px;
}
.b-cards .card .title {
	display: block;
	font-size: 28px;
	font-weight: 700;
}
.b-cards .card .text {
	margin-top: 25px;
	font-size: 20px;
}

.b-logos {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.b-logos > li {
	width: calc(25% - 22.5px);
	margin-top: 30px;
	margin-right: 30px;
}
.b-logos > li:nth-child(4n) {
	margin-right: 0;
}
.b-logos > li img {
	display: block;
	max-width: 100%;
}

.b-gal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.b-gal > li {
	width: calc(50% - 15px);
	margin-top: 30px;
}
.b-gal > li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-rev-slider {
	margin: 50px -15px 0;
	position: relative;
}
.b-rev-slider .slick-track {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.b-rev-slider .slick-arrow {
	display: block;
	width: 55px;
	height: 55px;
	font-size: 0;
	background-color: #ffffff;
	box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.14);
	border-radius: 50%;
	border: 0;
	position: absolute;
	top: calc(50% - 27.5px);
	z-index: 10;
}
.b-rev-slider .slick-arrow:before {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 17px solid transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-rev-slider .slick-arrow:hover:before {
	-webkit-filter: brightness(1.2);
	-moz-filter: brightness(1.2);
	-ms-filter: brightness(1.2);
	filter: brightness(1.2);
}
.b-rev-slider .slick-prev {
	left: -15px;
}
.b-rev-slider .slick-prev:before {
	background-image: url('../i/slick-prev-1.svg');
}
.b-rev-slider .slick-next {
	right: -15px;
}
.b-rev-slider .slick-next:before {
	background-image: url('../i/slick-next-1.svg');
}
.b-rev-slider .slide {
	position: relative;
	margin: 100px 15px 0;
	padding: 130px 40px 50px;
	background-color: #f2f2f2;
	height: auto;
}
.b-rev-slider .slide .photo {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 100px);
	top: -100px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.b-rev-slider .slide .name {
	display: block;
	font-size: 25px;
	font-weight: 700;
}
.b-rev-slider .slide .pos {
	display: block;
	font-size: 20px;
	color: #788086;
	margin-top: 10px;
}
.b-rev-slider .slide .links {
	margin-top: 25px;
}
.b-rev-slider .slide .links > li {
	margin-top: 10px;
	font-size: 18px;
	color: #003687;
}
.b-rev-slider .slide .links > li a {
	border-bottom: 1px solid #003687;
}
.b-rev-slider .slide .links > li a:hover {
	border-color: transparent;
}
.b-rev-slider .slide .text {
	margin-top: 30px;
	font-size: 20px;
	line-height: 1.2;
}

.b-formats {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 30px;
}
.b-formats .card {
	position: relative;
	width: calc(50% - 15px);
	margin-top: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 50px 40px;
	text-align: left;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
	flex-wrap: wrap;
}
.b-formats .card.big {
	width: 100%;
	padding: 50px 50% 50px 40px;
}
.b-formats .card .content {
	width: 100%;
}
.b-formats .card .icon {
	display: block;
	max-width: 140px;
	max-height: 100px;
	position: absolute;
	right: 20px;
	top: 90px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-formats .card.small-icon .icon {
	max-width: 80px;
	max-height: 80px;
}
.b-formats .card.big .icon {
	max-width: calc(50% - 60px);
	max-height: 100%;
	right: 25%;
	top: 50%;
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
}
.b-formats .card .title {
	display: block;
	font-size: 28px;
	font-weight: 700;
	padding-right: 120px;
}
.b-formats .card.small-icon .title {
	padding-right: 80px;
}
.b-formats .card.big .title {
	padding: 0;
}
.b-formats .card .text {
	margin-top: 25px;
	font-size: 20px;
}
.b-formats .card .b-btn {
	max-width: 210px;
	margin-top: 40px;
}

.popup {
	width: 95%;
	max-width: 630px;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 70px 30px;
	text-align: center;
}
.popup.popup-policy {
	padding: 50px 30px;
	max-width: 960px;
	text-align: left;
}
.popup .title {
	display: block;
	font-size: 28px;
	font-weight: 700;
}
.popup .subtitle {
	display: block;
	font-size: 20px;
	margin-top: 20px;
}
.popup .b-text,
.popup .b-form {
	margin-top: 30px;
}

.b-thanks {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 191px);
	background-color: #191d20;
	color: #ffffff;
	padding: 50px 0;
	border-bottom: 1px solid #cdcdcd;
}
.b-thanks .image {
	margin-top: 50px;
}
.b-thanks .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-thanks .b-btn {
	margin: 70px auto 0;
	max-width: 270px;
}

.b-contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-contacts > li {
	width: calc(100%/3 - 20px);
	margin-bottom: 50px;
	margin-right: 30px;
	text-align: left;
}
.b-contacts > li:nth-child(3n) {
	margin-right: 0;
}
.b-contacts > li .title {
	display: block;
	width: 100%;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
}
.b-contacts > li .info {
	position: relative;
	padding-left: 80px;
	width: 100%;
	font-size: 22px;
	line-height: 1.2;
	margin-top: 30px;
}
.b-contacts > li .info:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #191d20;
	position: absolute;
	left: 0;
	top: 12px;
}

.b-map {
	display: block;
	position: relative;
	width: 100%;
	height: 400px;
}
.b-map iframe {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.b-worked {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 20px;
}
.b-worked > li {
	width: calc(100%/3 - 20px);
	margin-top: 30px;
	margin-right: 30px;
	padding: 40px 40px 50px;
	background-color: #f2f2f2;
	border-radius: 5px;
	text-align: left;
}
.b-worked > li:nth-child(3n) {
	margin-right: 0;
}
.b-worked > li .icon {
	width: 50px;
	height: 50px;
	position: relative;
}
.b-worked > li .icon img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-worked > li .title {
	display: block;
	font-size: 24px;
	font-weight: 700;
	margin-top: 40px;
	line-height: 1.2;
}
.b-worked > li .text {
	font-size: 20px;
	margin-top: 20px;
	line-height: 1.2;
}

.b-features {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 10px;
}
.b-features > li {
	width: calc(50% - 15px);
	position: relative;
	margin-top: 30px;
	padding: 40px 0 40px 40px;
	text-align: left;
}
.b-features > li.big {
	width: 100%;
	padding-right: 50%;
}
.b-features > li:before {
	content: '';
	width: 50%;
	height: 100%;
	background-color: #f2f2f2;
	position: absolute;
	left: 0;
	top: 0;
}
.b-features > li.big:before {
	width: 100%;
}
.b-features > li .title {
	display: block;
	width: 100%;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	position: relative;
}
.b-features > li .info {
	position: relative;
	padding-left: 80px;
	width: 100%;
	font-size: 22px;
	line-height: 1.2;
	margin-top: 30px;
}
.b-features > li .info:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #191d20;
	position: absolute;
	left: 0;
	top: 12px;
}
.b-features > li.big img {
	display: block;
	max-width: calc(50% - 30px);
	max-height: 100%;
	position: absolute;
	right: 25%;
	top: 50%;
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
}

.b-cols {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-cols > li {
	width: calc(100%/3 - 20px);
	margin-top: 50px;
	margin-right: 30px;
}
.b-cols > li:nth-child(3n) {
	margin-right: 0;
}
.b-cols > li .image {
	position: relative;
	height: 270px;
}
.b-cols > li .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-cols > li .title {
	display: block;
	font-size: 22px;
	font-weight: 700;
	margin-top: 30px;
}
.b-cols > li .text {
	margin-top: 20px;
	font-size: 18px;
}

.b-help {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 20px;
}
.b-help > li {
	width: calc(50% - 15px);
	margin-top: 30px;
	padding: 45px 140px 45px 40px;
	background-color: #f2f2f2;
	text-align: left;
	border-radius: 5px;
	position: relative;
}
.b-help > li .icon {
	width: 75px;
	height: 75px;
	border-radius: 15px;
	background-color: #191d20;
	position: absolute;
	right: 35px;
	top: 35px;
}
.b-help > li .icon img {
	display: block;
	max-width: 60%;
	max-height: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-help > li .title {
	display: block;
	font-size: 28px;
	font-weight: 700;
}
.b-help > li .text {
	font-size: 20px;
	margin-top: 20px;
}

.b-price {
	font-size: 36px;
	font-weight: 700;
}

.b-guarantee {
	position: relative;
	padding: 40px 60px 40px 140px;
	background-color: #f2f2f2;
	text-align: left;
	font-size: 18px;
	max-width: 630px;
	margin: 30px auto 0;
}
.b-guarantee img {
	display: block;
	max-width: 55px;
	max-height: 55px;
	position: absolute;
	left: 70px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.b-faq {
	margin-top: 50px;
}
.b-faq > li {
	margin-top: 20px;
	text-align: left;
}
.b-faq > li .qwestion {
	display: block;
	font-size: 22px;
	font-weight: 700;
}
.b-faq > li .answer {
	font-size: 18px;
	margin-top: 15px;
}



@media screen and (max-width: 1230px){
	.b-types > li {
		width: calc(25% - 22.5px);
	}
	.b-types > li:nth-child(5n) {
		margin-right: 30px;
	}
	.b-types > li:nth-child(4n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 1024px){
	body {
		padding-top: 117px;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		border-bottom: 1px solid #dedede;
	}
	.header-content {
		padding: 10px 0;
	}
	.header-content .wrap {
		align-items: center;
	}
	.header-logo {
		display: block;
		width: auto;
	}
	.header-logo .slogan {
		display: none;
	}
	.header-info {
		display: block;
		width: 100%;
		max-width: 160px;
	}
	.header-info .phone {
		text-align: right;
		max-width: none;
	}
	.header-info .phone p {
		display: none;
	}
	.header-info .b-btn {
		display: none;
	}
	.header-nav {
		display: none;
	}

	.footer-top {
		display: block;
	}
	.footer-top .footer-main {
		max-width: none;
		width: 100%;
	}
	.footer-logo {
		margin: 0 auto;
	}
	.footer-logo img {
		margin: 0 auto;
	}
	.footer-top .phone {
		max-width: none;
		text-align: center;
		margin-top: 30px;
	}
	.footer-top .phone p {
		margin: 0;
	}
	.footer-about {
		display: block;
	}
	.footer-about .info {
		max-width: none;
	}
	.footer-about .info > li {
		text-align: center;
	}
	.footer-about .cookie {
		display: block;
		width: 100%;
		max-width: none;
	}
	.footer-about .cookie ul {
		text-align: center;
	}
	.footer-about .links {
		display: block;
		max-width: none;
		margin-top: 20px;
	}
	.footer-about .links .social {
		justify-content: center;
	}
	.footer-about .links .social > li {
		margin: 0 5px 10px;
	}
	.footer-about .links .social > li:first-child {
		margin-left: 5px;
	}
	.footer-about .links .logo-dev {
		text-align: center;
	}

	.b-title br {
		display: none;
	}

	.b-face .wrap {
		display: block;
	}
	.b-face .wrap .content {
		width: 100%;
		text-align: center;
	}
	.b-face .wrap .content .text {
		max-width: 660px;
		margin: 40px auto 0;
	}
	.b-face .wrap .content .b-form {
		margin-left: auto;
	}
	.b-face .wrap .content .partner {
		margin: 40px auto 0;
	}
	.b-face .wrap .image {
		width: 100%;
		margin-top: 40px;
	}
	.b-face .wrap .image img {
		max-width: 100%;
	}

	.b-text-img .image {
		width: calc(50% - 15px);
	}
	.b-text-img .content {
		width: calc(50% - 15px);
		max-width: none;
	}
	.b-text-img .content.big {
		max-width: none;
	}

	.b-advs {
		justify-content: space-between;
	}
	.b-advs > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-types {
		margin: 50px -30px 0;
		overflow-x: auto;
		flex-wrap: nowrap;
		padding: 0 30px 20px;
	}
	.b-types > li {
		width: 100%;
		min-width: 210px;
		margin-top: 0;
		margin-right: 10px;
	}
	.b-types > li:nth-child(4n),
	.b-types > li:nth-child(5n) {
		margin-right: 10px;
	}

	.b-cards .card {
		width: 100%;
	}
	.b-cards .card.big {
		padding: 50px 350px 50px 40px;
	}
	.b-cards .card.big img {
		max-width: 330px;
		right: 165px;
	}

	.b-logos > li {
		width: calc(100%/3 - 20px);
	}
	.b-logos > li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-logos > li:nth-child(3n) {
		margin-right: 0;
	}

	.b-formats {
		display: block;
		margin-top: 50px;
	}
	.b-formats .card {
		width: 100%;
		padding: 50px 160px 50px 40px;
	}
	.b-formats .card.small-icon {
		padding: 50px 100px 50px 40px;
	}
	.b-formats .card .title {
		padding: 0;
	}
	.b-formats .card.small-icon .title {
		padding: 0;
	}

	.b-thanks {
		min-height: calc(100vh - 117px);
	}

	.b-contacts {
		justify-content: space-between;
	}
	.b-contacts > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-worked {
		justify-content: space-between;
	}
	.b-worked > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-features {
		display: block;
		margin-top: 40px;
	}
	.b-features > li {
		width: 100%;
	}
	.b-features > li.big {
		padding-right: 40%;
	}
	.b-features > li.big img {
		max-width: calc(40% - 60px);
		right: 20%;
	}

	.b-cols {
		justify-content: space-between;
	}
	.b-cols > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-help {
		display: block;
		margin-top: 50px;
	}
	.b-help > li {
		margin: 30px auto 0;
		width: 100%;
		max-width: 560px;
	}
}
@media screen and (max-width: 768px){
	body {
		padding-top: 89px;
	}

	.header-logo .logo {
		max-width: 120px;
	}
	.header-info {
		max-width: 110px;
	}
	.header-info .phone {
		font-size: 14px;
	}
	.header-info .phone a {
		font-size: 16px;
	}
	.mobile-menu .nav > li {
		font-size: 16px;
	}
	.mobile-menu .phone {
		margin-top: 20px;
		font-size: 14px;
	}
	.mobile-menu .phone a {
		font-size: 18px;
	}

	.footer {
		padding: 20px 0 30px;
	}
	.footer-top .footer-main .nav {
		margin-top: 20px;
		display: block;
	}
	.footer-top .footer-main .nav > li {
		margin-top: 10px;
		font-size: 14px;
	}
	.footer-top .phone {
		margin-top: 20px;
		font-size: 14px;
	}
	.footer-top .phone a {
		font-size: 18px;
	}
	.footer-about {
		margin-top: 20px;
	}

	.b-section {
		padding: 25px 0;
	}
	.b-section.first {
		padding-top: 50px;
	}
	.b-section.last {
		padding-bottom: 50px;
	}

	.b-title {
		font-size: 25px;
	}
	.b-subtitle {
		font-size: 18px;
		margin-top: 15px;
	}

	.b-text {
		font-size: 14px;
	}
	.b-title + .b-text,
	.b-subtitle + .b-text {
		margin-top: 30px;
	}
	.b-text h2,
	.b-text h3,
	.b-text h4 {
		font-size: 18px;
	}

	.b-btn {
		font-size: 14px;
		padding: 15px 10px;
	}
	.b-btn.border-btn {
		padding: 14px 10px;
	}

	.b-form-title {
		margin-top: 30px;
		font-size: 18px;
	}
	.b-form-title + .b-form,
	.b-title + .b-form {
		margin-top: 30px;
	}
	.b-input {
		margin-bottom: 10px;
	}
	.b-input input, .b-input textarea {
		padding: 14px 15px;
		font-size: 14px;
	}
	.b-form .flex > * {
		width: calc(50% - 5px);
	}

	.b-face {
		padding: 30px 0;
	}
	.b-face .wrap .content .guarantee {
		padding: 10px 15px 10px 40px;
		font-size: 10px;
		margin-bottom: 20px;
	}
	.b-face .wrap .content .guarantee img {
		left: 20px;
	}
	.b-face .wrap .content .title {
		font-size: 20px;
	}
	.b-face .wrap .content .text {
		margin-top: 20px;
		font-size: 14px;
		max-width: 420px;
	}
	.b-face .wrap .content .text ul > li {
		padding-left: 16px;
	}
	.b-face .wrap .content .text ul > li:before {
		top: 5px;
	}
	.b-face .wrap .content .b-form {
		margin-top: 30px;
	}
	.b-face .wrap .content .partner {
		margin-top: 20px;
		max-width: 420px;
		font-size: 14px;
	}
	.b-face .wrap .content .partner img {
		max-width: 30px;
		max-height: 30px;
	}
	.b-face .wrap .content .partner span {
		width: calc(100% - 40px);
	}
	.b-face .wrap .image {
		margin-top: 20px;
	}
	.b-face .wrap .image img {
		max-height: 270px;
	}

	.b-text-img {
		display: block;
	}
	.b-text-img.margin {
		margin-top: 30px;
	}
	.b-text-img .image {
		width: 100%;
	}
	.b-text-img.height-align .image {
		height: 300px;
	}
	.b-text-img .image img {
		margin: 0 auto;
	}
	.b-text-img .content {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.b-text-img .content .items .item {
		margin-top: 30px;
	}
	.b-text-img .content .title {
		font-size: 19px;
		line-height: 1.5;
	}
	.b-text-img .content .text {
		margin-top: 20px;
		font-size: 15px;
		line-height: 1.5;
	}
	.b-text-img .content .items .item .text {
		margin-top: 20px;
	}
	.b-text-img .content .text ul > li {
		margin-top: 10px;
		padding-left: 60px;
	}
	.b-text-img .content .text ul > li:before {
		width: 40px;
		top: 8px;
	}

	.b-advs > li {
		width: calc(50% - 10px);
		margin-top: 30px;
	}
	.b-advs > li .text {
		margin-top: 15px;
		font-size: 15px;
	}

	.b-types {
		margin: 30px -10px 0;
		padding: 0 10px 20px 0;
	}
	.b-types > li {
		min-width: 180px;
		margin-right: 0;
		padding: 0 5px;
	}
	.b-types > li:nth-child(4n),
	.b-types > li:nth-child(5n) {
		margin-right: 0;
	}
	.b-types > li .image {
		height: 170px;
	}
	.b-types > li .name {
		font-size: 18px;
		margin-top: 15px;
	}

	.b-cards {
		display: block;
	}
	.b-cards .card {
		margin-top: 10px;
		padding: 20px;
	}
	.b-cards .card.big {
		padding: 20px;
	}
	.b-cards .card img {
		display: none;
	}
	.b-cards .card .title {
		font-size: 20px;
	}
	.b-cards .card .text {
		margin-top: 15px;
		font-size: 15px;
	}

	.b-logos {
		margin-top: 10px;
	}
	.b-logos > li {
		width: calc(100%/3 - 40px/3);
		margin-top: 20px;
		margin-right: 20px;
	}
	.b-logos > li:nth-child(4n) {
		margin-right: 20px;
	}
	.b-logos > li:nth-child(3n) {
		margin-right: 0;
	}

	.b-gal > li {
		width: calc(50% - 5px);
		margin-top: 10px;
	}

	.b-rev-slider {
		margin: 30px -10px 0;
	}
	.b-rev-slider .slick-arrow {
		width: 30px;
		height: 30px;
		top: calc(50% - 15px);
	}
	.b-rev-slider .slick-arrow:before {
		border: 10px solid transparent;
	}
	.b-rev-slider .slick-prev {
		left: 0;
	}
	.b-rev-slider .slick-next {
		right: 0;
	}
	.b-rev-slider .slide {
		margin: 70px 10px 0;
		padding: 90px 20px 20px;
	}
	.b-rev-slider .slide .photo {
		width: 140px;
		height: 140px;
		left: calc(50% - 70px);
		top: -70px;
	}
	.b-rev-slider .slide .name {
		font-size: 18px;
	}
	.b-rev-slider .slide .pos {
		font-size: 16px;
		margin-top: 5px;
	}
	.b-rev-slider .slide .links {
		margin-top: 15px;
	}
	.b-rev-slider .slide .links > li {
		margin-top: 5px;
		font-size: 14px;
	}
	.b-rev-slider .slide .text {
		margin-top: 20px;
		font-size: 16px;
	}

	.b-formats {
		margin-top: 30px;
	}
	.b-formats .card {
		margin-top: 10px;
		padding: 20px;
	}
	.b-formats .card.big {
		padding: 20px;
	}
	.b-formats .card.small-icon {
		padding: 20px;
	}
	.b-formats .card .icon {
		display: none;
	}
	.b-formats .card .title {
		font-size: 20px;
	}
	.b-formats .card .text {
		margin-top: 15px;
		font-size: 15px;
	}
	.b-formats .card .b-btn {
		margin-top: 20px;
	}

	.popup {
		padding: 30px 10px;
	}
	.popup.popup-policy {
		padding: 30px 10px;
	}
	.popup .title {
		font-size: 20px;
	}
	.popup .subtitle {
		font-size: 16px;
		margin-top: 10px;
	}
	.popup .b-text,
	.popup .b-form {
		margin-top: 20px;
	}

	.b-thanks {
		min-height: calc(100vh - 89px);
	}
	.b-thanks .image {
		margin-top: 20px;
	}
	.b-thanks .b-btn {
		margin: 30px auto 0;
	}

	.b-contacts > li {
		width: calc(50% - 10px);
		margin-bottom: 30px;
	}
	.b-contacts > li .title {
		font-size: 19px;
		line-height: 1.5;
	}
	.b-contacts > li .info {
		margin-top: 20px;
		font-size: 15px;
		padding-left: 60px;
		line-height: 1.5;
	}
	.b-contacts > li .info:before {
		width: 40px;
		top: 8px;
	}

	.b-map {
		height: 300px;
	}

	.b-worked {
		margin-top: 10px;
	}
	.b-worked > li {
		width: calc(50% - 10px);
		margin-top: 20px;
		padding: 20px;
	}
	.b-worked > li .icon {
		width: 30px;
		height: 30px;
	}
	.b-worked > li .title {
		font-size: 18px;
		line-height: 1.5;
		margin-top: 20px;
	}
	.b-worked > li .text {
		font-size: 14px;
		margin-top: 10px;
		line-height: 1.5;
	}

	.b-features {
		margin-top: 30px;
	}
	.b-features > li {
		padding: 20px 0 20px 20px;
		margin-top: 10px;
	}
	.b-features > li.big {
		padding-right: 0;
	}
	.b-features > li.big:before {
		width: 50%;
	}
	.b-features > li .title {
		font-size: 16px;
	}
	.b-features > li .info {
		margin-top: 20px;
		font-size: 15px;
		padding-left: 60px;
		line-height: 1.5;
	}
	.b-features > li .info:before {
		width: 40px;
		top: 8px;
	}
	.b-features > li.big img {
		display: none;
	}

	.b-cols > li {
		width: calc(50% - 10px);
		margin-top: 30px;
	}
	.b-cols > li .image {
		height: 200px;
	}
	.b-cols > li .title {
		margin-top: 10px;
		font-size: 18px;
	}
	.b-cols > li .text {
		font-size: 14px;
		margin-top: 10px;
	}

	.b-help {
		margin-top: 30px;
	}
	.b-help > li {
		padding: 20px;
		margin: 10px auto 0;
	}
	.b-help > li .icon {
		display: none;
	}
	.b-help > li .title {
		font-size: 18px;
	}
	.b-help > li .text {
		font-size: 14px;
		margin-top: 10px;
	}

	.b-price {
		font-size: 20px;
	}

	.b-guarantee {
		font-size: 14px;
		padding: 20px 20px 20px 70px;
		max-width: 460px;
		margin: 15px auto 0;
	}
	.b-guarantee img {
		max-height: 30px;
		max-width: 30px;
		left: 35px;
	}
}
@media screen and (max-width: 560px){
	.header-info {
		width: auto;
		max-width: none;
	}
	.header-info .phone a {
		display: block;
		width: 30px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../i/header-phone.svg');
		font-size: 0;
	}

	.b-form .flex {
		display: block;
	}
	.b-form .flex > * {
		width: 100%;
	}
	.b-form .flex + .policy-text {
		margin-top: 15px;
	}

	.b-face .wrap .content .b-form {
		max-width: 370px;
	}

	.b-advs {
		display: block;
	}
	.b-advs > li {
		width: 100%;
		margin: 30px auto 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.b-advs > li:nth-child(3n) {
		margin-right: auto;
	}
	.b-advs > li .image {
		height: auto;
		width: calc(40% - 20px);
	}
	.b-advs > li .image img {
		max-height: 150px;
		margin: 0 auto;
		position: relative;
		top: 0;
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.b-advs > li .text {
		text-align: left;
		margin-top: 0;
		width: 60%;
	}

	.b-logos {
		justify-content: space-between;
	}
	.b-logos > li {
		width: calc(50% - 10px);
		margin-right: 0;
	}
	.b-logos > li:nth-child(4n) {
		margin-right: 0;
	}

	.b-gal {
		display: block;
		margin-top: 30px;
	}
	.b-gal > li {
		width: 100%;
	}

	.b-rev-slider {
		margin: 30px auto 0;
	}

	.b-contacts {
		display: block;
	}
	.b-contacts > li {
		width: 100%;
		max-width: 360px;
		margin: 0 auto 30px;
	}
	.b-contacts > li:nth-child(3n) {
		margin-right: auto;
	}

	.b-worked {
		display: block;
		margin-top: 30px;
	}
	.b-worked > li {
		width: 100%;
		margin: 20px auto 0;
	}
	.b-worked > li:nth-child(3n) {
		margin-right: auto;
	}

	.b-cols {
		display: block;
	}
	.b-cols > li {
		width: 100%;
		max-width: 360px;
		margin: 30px auto 0;
	}
	.b-cols > li:nth-child(3n) {
		margin-right: auto;
	}
}